
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

:root{
    --orange: #ff5417;
    --dark: #303030;
    --white: #ffffff;
    --grey: #555555;
    --lightgrey: #cecece;
}

body{
    overflow-x: hidden !important;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'URW Geometric Medium', sans-serif;
    
}

header{
    display: flex;
    flex-direction: column;
}

.container-fluid, .row, .col-xl-12, .col-12{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.toolbar{
    background-color: var(--dark);
    text-align: right;
    color: var(--grey);
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.toolbar .col-xl-12{
    height: 30px;
}

.toolbar ul{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    padding: 5px 50px 0 0;
}

.toolbar ul li{
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.toolbar ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.toolbar ul li a:hover{
    color: var(--orange);
}

.toolbar ul li img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Navbar */
.navbar .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    z-index: 9999;
}


.navbar .col-xl-3{
    display: flex;
    justify-content: center;
}

.vline{
    border-left: 1.5px solid var(--lightgrey);
    height: 20px;
    margin: 0 20px;
}


.navbar .col-xl-6 a:hover{
    color: var(--orange);
    transition: delay 5s;
}

.navbar .col-xl-6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .col-xl-6 a{
    text-decoration: none;
    color: var(--dark);
    font-size: 23px;
    font-weight: 800;
}

.search{
    width: 60%;
    padding: 0.5%;
    border: 1px solid var(--lightgrey);
}

.search i{
    padding: 2.5%;
}

.search input{
    padding: 1%;
    outline: none;
    border: none;
}

.fa-chevron-down{
    font-weight: 800;
    font-size: 15px;
    padding: 0 10px;
}

.dropDown::before{
    position: relative;
    display: inline-block;
}
/* Khi drop down dropdown menu show width full screen */
.dropdown-menu{
    display: none;
    visibility: hidden;
    position: absolute;
    background-color: var(--white);
    z-index: -1;
    color: var(--white);
    padding: 0;
    margin: 0;
    border-radius: 0;
    list-style: none;
    text-align: center;
    width: 100vw;
    left: 0vw;
    height: fit-content;
    padding-top: 10vh;
    overflow: none !important;
    border: none;
}

.spantext{
    background-color: var(--dark);
    color: var(--lightgrey);
    display: flex;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}


.dropdown-menu2{
    background-color: var(--dark);
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.dropdown-menu2 img{
    width: 100%;
    padding: 20px;
    opacity: 0.3;
}

.dropdown-menu2 img:hover{
    opacity: 1;
    transition: all 500ms ;
}

.category-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.dropdown-menu2 h3{
    color: var(--white);
    font-size: 25px;
    font-weight: 750;
    padding: 0 0 10px 0;
}

.dropDown:hover .dropdown-menu {
    display: block;
    color: var(--orange);
    overflow: none;
    visibility: visible;
    transition: 1000ms ;
}


.dropdown-menu{
    display: block; 
    color: var(--orange);
    overflow: none;
}


/* Category */
.category-item-1 h5{
    font-family: 'Nunito', sans-serif;
}

.category-item-1 ul li{
    list-style: none;
    padding: 5px 0;
    text-decoration: none;
    color: var(--lightgrey);
    font-size: 15px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.category-item-1 ul li b{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.category-item-1 ul li:hover{
    color: var(--orange);
}

.dropdown-menu3{
    background-color: var(--dark);
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
}

.dropdown-menu3 h5{
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 10px 0;
}


/* Banner */
.carousel-control-prev{
    width: 5%;
    height: 100%;
    opacity: 0.5;
    z-index: -3;
    color: #303030;
}

.carousel-control-next{
    width: 5%;
    height: 100%;
    opacity: 0.5;
    z-index: -3;
    color: #303030;
}

/* Hotnew */
.hotnews{
    background-color: #F1F1F1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hotnews p{
    text-align: center;
    color: var(--grey);
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
}

.hotnews i{
    color: var(--dark);
    font-size: 20px;
    padding: 0 10px;
    z-index: 3;
}


/* Banner */
.banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner img {
    object-fit: cover;
    width:100%;
    max-height: 75vh;
}


.carousel-indicators .active{
    width: 5rem;
    height: 4px;
    background-color: var(--orange) !important;
}


/* Story */
.box-story{
    width: 100%;
    height: 100%;
    padding: 5%;
}

.box-story .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.story{
    width: 100%;
    height: 100%;
    padding: 1%;
    /* margin: 1%; */
}

.story img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.story-content{
    padding-top: 2%;
}

.story-content h3{
    font-size: 30px;
    font-weight: 800;
    color: var(--dark);
}

.story-content p{
    font-size: 15px;
    font-weight: 400;
    color: var(--grey);
    font-family: sans-serif;
    height: 100px;
}


/* CATEGORY */
.category{
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.category h3{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding: 0 0 5% 0;
}

.category .bg-giaynam{
    background: url(../../Assets/Images/catalogy-1.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category .bg-giaynu{
    background: url(../../Assets/Images/catalogy-2.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category .bg-sanpham{
    background: url(../../Assets/Images/catalogy-3.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category .category-key{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10%;
}

.category-key h4{
    font-size: 30px;
    font-weight: 800;
    color: var(--white);
}


.category-key a{
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
}

.category-key a:hover{
    color: var(--orange);
}

.banner-cloing{
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.banner-cloing img{
    width: 100%;
    padding: 0;
    /* height: 100%; */
    object-fit: cover;
}


/* Social */
.social{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5% 0;
}

.social-content {
    margin: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.social-content .col-xl-6 .social-post{
    margin-top: 50px;
}


.social-post p{
    width: 100%;
    line-height: 2em;
    -webkit-line-clamp: 3; 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
}



.social-post-content{
    margin-top: 5%;
    height: 100px;
}

.social-post-content h4{
    font-size: 20px;
    font-weight: 700;
    color: var(--dark);
}

.social-post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.social h3{
    font-size: 30px;
    font-weight: 800;
    color: var(--dark);
    padding: 0 0 5% 0;
    text-align: center;
}



/* Footer */
footer{
    background-color: #303030;
    display: flex;
}


footer .store{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

footer .store img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn-store{
    padding: 2%;
    width: 50%;
    margin: 5%;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.btn-sub{
    padding: 2%;
    width: 40%;
    margin: 1%;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.btn-store:hover{
    background-color: var(--lightgrey);
    color: var(--orange);
}


footer .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    color: var(--white);
}

footer ul li{
    list-style: none;
    padding: 2%;
}

footer ul li a{
    text-decoration: none;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
}

footer ul li a:hover{
    color: var(--orange);
}

footer .info h3{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding: 2%;
}

footer .info p{
    padding: 2%;
}

footer .info p a{
    text-decoration: none;
    color: var(--white);
}

footer .info p a:hover{
    color: var(--orange);
}

footer .info p span{
    font-size: 20px;
    font-weight: 700;
}

footer ul{
    padding-left: 0;
}

footer .row{
    padding: 2%
}

footer input{
    width: 50%;
    height: 100%;
    padding: 2%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
}


/* Share */

.btn-cart{
    position: fixed;
    z-index: 999999;
    right: 0;
    margin-top: 50vh;
    width: 50px;
    height: 100px;
    background-color: #ff5417;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--white);
    font-weight: 700;
}

.btn-cart img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}


.offcanvas-end{
    width: 300px !important;
    height: fit-content;
    max-height: 40vh;
    right: 40px;
    margin-top: 50vh;
    overflow: auto;
}

.offcanvas-end .offcanvas-body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.offcanvas-body p{
    font-family: 'Nunito', sans-serif;
}

.offcanvas-body h1{
    font-size: 20px;
    font-weight: 700;
    color: var(--dark);
    font-family: 'Nunito', sans-serif;
}

.btn-pay{
    width: 100%;
    height: 40px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin:5% 0;
}


.btn-love{
    width: 100%;
    height: 40px;
    background-color: var(--dark);
    border: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Nutito', sans-serif;
}


/* Webkkit */
body{
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .social-content{
        margin: 0;
    }

    .social-content .col-xl-6 .social-post{
        margin-top: 5% 0;
    }

    .toolbar .col-xl-12{
        display: none;
    }
    
    .category .col-xl-4{
        margin: 2% 0;
    }

    .navbar .col-xl-6{
        display: none;
    }

    .navbar .col-xl-3{
        margin: 2% 0;
    }

    footer .col-xl-4{
        display: none;
    }

    .col-xl-5>img{

    }
}
    
@media screen and (max-width: 576px) {
    .social-content .col-xl-6 .social-post{
        margin-top: 5% 0;
    }
}

@media screen and (max-width: 425px) {
    .social-content .col-xl-6 .social-post{
        margin-top: 5% 0;
    }
}

/* Scroll */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--lightgrey);
}

::-webkit-scrollbar-thumb {
    background: var(--orange);
}


/* End */